html, body
{
  height: 100%;
  margin: 0;
}

body
{
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(138,77,2,1) 12.5%, rgba(188,173,1,1) 25%, rgba(65,255,0,1) 37.5%, rgba(2,122,123,1) 50%, rgba(2,22,147,1) 62.5%, rgba(83,2,84,0.9862385321100917) 75%, rgba(164,2,109,1) 87.5%, rgba(179,236,223,1) 100%);
}

.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 20px;
}

#login_button
{
	width: 80%;border-radius: 120px;
    background: rgb(36,0,0);
background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(138,77,2,1) 12.5%, rgba(188,173,1,1) 25%, rgba(65,255,0,1) 37.5%, rgba(2,122,123,1) 50%, rgba(2,22,147,1) 62.5%, rgba(83,2,84,0.9862385321100917) 75%, rgba(164,2,109,1) 87.5%, rgba(179,236,223,1) 100%);
}
